@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #ccc;
    justify-items: center;
    align-items: center;
}

.container {
    padding: 20px 30px;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 550px;
    width: 350px;
    background-color: #808080;
    flex-direction: column;
    border: 1px solid #272727;
    border-radius: 4px;
    box-shadow: 4px 6px 22px 5px rgba(0, 0, 0, 0.52);

}

.title {
    font-size: 36px;
    font-weight: bold;
}

.keypad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 10px 0;
}

.display {
    display: flex;
    justify-content: center;
    width: 290px;
    padding: 16px 0;
}

.display input {
    width: 100%;
    font-size: 36px;
    text-align: right;
    background-color: #A8C64E;
}

input:focus,
button:focus {
    outline: none;

}

input,
button {
    font-family: 'Orbitron', sans-serif;

}

.row {
    display: flex;
    flex-direction: row;
}

.digit,
.operation {
    padding: 2px 3px;
}

.key {
    border: 1px solid #272727;
    border-radius: 4px;
    font-size: 20px;
    padding: 16px;
    width: 60px;
    height: 60px;
    background-color: #a6a6a6;
}

button {
    cursor: pointer;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset {
    margin: 10px 0;
    width: 230px;
    font-size: 20px;

    background-color: #bcbcbc;
    border-radius: 4px;
}


#notification {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    bottom: -510px;
    left: 0;
    right: 0;
    background: #ff3442;
    color: #ffffff;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}

#notification {
    animation: slideDown 2.5s ease forwards;
}

.message {
    margin: 0;
    padding: 0;
}

.close {
    border-radius: 2px;
    border: 1px solid white;
    font-size: 12px;
    background-color: transparent;
    color: white;
    height: 50%;

}


@keyframes slideDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-510px);
    }
}

@media (max-width: 400px) {
    .center {
        width: 80%;
    }
}